.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }

body {
    background-color: #b1d6f5;
    text-align:center;
}

.function-container {
    display: grid;
    gap: 50px 100px;
    grid-template-columns: auto auto auto;
    
    padding: 10px;
}

.function {
    background: rgb(231, 196, 196);
    border-radius: 5%;
    margin: 10px;
    padding: 10px;
   border-width: 1px;
   border-style:inset;
   border-color:blue;
   max-width:500px;
   max-height:500px;
  
   
   
}

a {
    margin:30px;
    background:rgb(238, 234, 173)
}

